{
    "root": true,
    "extends": ".eslintrc-es5",
    "parser": "babel-eslint",
    "env": {
        "es6": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexYFlag": true,
        "regexUFlag": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "globalReturn": true,
        "experimentalObjectRestSpread": true
    },
    "rules": {
        "arrow-body-style": [2, "as-needed"],
        "arrow-parens": 0,
        "arrow-spacing": [2, { "before": true, "after": true }],
        "constructor-super": 2,
        "generator-star-spacing": [2, { "before": false, "after": true }],
        "no-arrow-condition": 1,
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-this-before-super": 2,
        "no-var": 2,
        "object-shorthand": 2,
        "prefer-arrow-callback": 2,
        "prefer-const": 2,
        "prefer-reflect": 0,
        "prefer-spread": 2,
        "prefer-template": 2,
        "require-yield": 2
    }
}